<div class="row" infinite-scroll='loadMore()' infinite-scroll-disabled="disable_scroll" infinite-scroll-distance='2' infinite-scroll-use-document-bottom="true">
    <div class="col-xs-18 col-sm-6 col-md-3" ng-repeat="d in result | unique:'id'">
        <div class="thumbnail">
            <div class="post_box" ui-sref="video_page({page_id:d.page_id,post_id:d.id})">
                <img data-src="{{d.format[1].picture ? d.format[1].picture : ( d.format[0].picture ? d.format[0].picture : ( d.format[0].picture ? d.format[0].picture : d.picture))}}" class="lazyload" alt="{{(d.title ? d.title : (d.description ? d.description : (d.page_name )))}}" on-error-src="/img/not_load.gif">
                <i class="fa fa-play image-overlay" ui-sref="video_page({page_id:d.page_id,post_id:d.id})" style="font-size: 50px;" aria-label="Select"></i>
                <span class="video_length" ng-bind="return_length(d.length)"></span>
            </div>
            <hr/>
            <div class="caption">
            <h4 class="box_title"><a ui-sref="video_page({page_id:d.page_id,post_id:d.id,page_name:d.page_name})" title="{{(d.title ? d.title : (d.description ? d.description : (d.page_name )))}}">{{(d.title ? d.title : (d.description ? d.description : (d.page_name ))) | cut:true:40:' ...'}}</a></h4>
            <span class="updated_time" ng-bind="return_time(d.updated_time)"></span>
            </div>
            <hr/>
            <a ui-sref="all_vid_of_page({page_id:d.page_id})" style="color: #fff">
                <div class="from">
                    <img ng-src="{{d.page_profile_image}}" style="width: 30px; padding: 5px">
                    <span class="page_name" title="{{d.page_name}}">{{d.page_name | cut:true:40}} </span>
                </div>
            </a>
        </div>
    </div>
</div><!-- End row -->

<div id="loading-bar-container"></div>
<div ng-show="show_more_load"><div class="load_more_text"><a ng-click="loadMore()">Load More</a></div></div>