<div layout="row" layout-xs="column" layout-align="center center">
  <div flex="35" flex-xs="100" class="t404"><div layout="column">
  	<div flex><h1 style="margin-bottom: 0px">404</h1></div>
  	<div flex hide-gt-sm style="margin-top: 0px;font-size: 20px">Go to <a ui-sref="home">home page</a> and watch Funny, Entertainment, Tricks, Pranks etc.</div>
  </div>
  </div>
  <div flex hide-xs hide-sm>
<div layout="column" style="margin-top: 100px">
  <div flex class="n404"><h3>Not Found</h3></div>
  <div flex class="c404"><h3>Go to <a ui-sref="home">home page</a> and watch Funny, Entertainment, Tricks, Pranks etc.</h3></div>
</div></div>
</div>