<div>
    <h1>Privacy Policy</h1>
    <h3>Introduction</h3>
    <p>
        FbPuzz, Inc. (“FbPuzz”) takes the private nature of your personal information very seriously.<br/>This privacy policy describes how we treat the information we collect when you visit and use our websites. Please read this notice very carefully.
    </p>
    <h3>Website Visitors</h3>
    <p>
        Like most website operators, FBPUZZ collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. FBPUZZ’s purpose in collecting non-personally identifying information is to better understand how FBPUZZ’s visitors use its website. From time to time, FBPUZZ may release non-personally-identifying information in the aggregate, e.g. by publishing a report on trends in the usage of its website.<br/>FBPUZZ also collects potentially personally-identifying information like Internet Protocol (IP) addresses. FBPUZZ does not use such information to identify its visitors, and does not disclose such information, other than under the same circumstances that it uses and discloses non-personally-identifyingidentifying information, as described below.
    </p>
    <h3>Gathering of Personally-Identifying Information</h3>
    <p>Certain visitors to FBPUZZ’s websites choose to interact with FBPUZZ in ways that require FBPUZZ to gather personally-identifying information. The amount and type of information that FBPUZZ gathers depends on the nature of the interaction. For example, we ask visitors who sign up for FBPUZZ.com to provide a username and email address. In each case, FBPUZZ collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with FBPUZZ. FBPUZZ does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>
    <h3>Cookies</h3>
    <p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. FBPUZZ uses cookies to help FBPUZZ identify and track visitors, their usage of FBPUZZ websites, and their website access preferences. FBPUZZ visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using FBPUZZ’s websites, with the drawback that certain features of FBPUZZ’s websites may not function properly without the aid of cookies.</p>

    <h3>Links to Third Party Sites</h3>
    <p>This privacy policy only applies to information collected by FBPUZZ. This privacy policy does not apply to the practices of companies that FBPUZZ does not own or control, or employees that FBPUZZ does not manage. A FBPUZZ website may contain links to third party websites. Any information you provide to, or that is collected by, third-party sites may be subject to the privacy policies of those sites, if any. We encourage you to read such privacy policies of any third-party sites you visit. It is the sole responsibility of such third parties to adhere to any applicable restrictions on the disclosure of your personally-identifying information, and FBPUZZ and its affiliates shall not be liable for wrongful use or disclosure of your personally-identifying information by any third party.</p>

    <h3>Security</h3>
    <p>All non-personally-identifying information, potentially personally-identifying and personally identifying-information described above is stored on restricted database servers.</p>

    <h3>Privacy Policy Changes</h3>
    <p>Although most changes are likely to be minor, FBPUZZ may change its privacy policy from time to time, and in FBPUZZ’s sole discretion. FBPUZZ encourages visitors to frequently check this page for any changes to its privacy policy. Your continued use of this site after any change in this privacy policy will constitute your acceptance of such change.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions about this privacy policy or our sites in general, please mail at <b>admin@fbpuzz.com</b></p>
</div>