<div>
	<h1>Terms of services</h1>
	<h3>Accepting the Terms of Service</h3>
	<p>The purpose of this website, fbpuzz.com, is to provide web publishing services. Please read these terms of service (“Agreement”) carefully before using the Site or any services provided on the Site (collectively, “Services”). By using or accessing the Services, you agree to become bound by all the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, do not use the Services. The Services are accessed by You (“Subscriber” or “You”) under the following terms and conditions:</p>

	<h3>Access to the Services</h3>
	<p>Subject to the terms and conditions of this Agreement, FBPUZZ, Inc may offer to provide the Services, as described more fully on the Site, and which are selected by Subscriber, solely for Subscriber’s own use, and not for the use or benefit of any third party. Services shall include, but not be limited to, any services FBPUZZ, Inc performs for Subscriber, as well as the offering of any Content (as defined below) on the Site. FBPUZZ, Inc may change, suspend or discontinue the Services at any time, including the availability of any feature, database, or Content. FBPUZZ, Inc may also impose limits on certain features and services or restrict Subscriber’s access to parts or all of the Services without notice or liability. FBPUZZ, Inc reserves the right, at its discretion, to modify these Terms of Service at any time by posting revised Terms of Service on the Site and by providing notice via e-mail, where possible, or on the Site. Subscriber shall be responsible for reviewing and becoming familiar with any such modifications. Use of the Services by Subscriber following such modification constitutes Subscriber's acceptance of the terms and conditions of this Agreement as modified. <br/>
	
	Subscriber certifies to FBPUZZ, Inc that if Subscriber is an individual (i.e., not a corporate entity), Subscriber is at least 13 years of age. No one under the age of 13 may provide any personal information to or on FBPUZZ, Inc (including, for example, a name, address, telephone number or email address). Subscriber also certifies that it is legally permitted to use the Services and access the Site, and takes full responsibility for the selection and use of the Services and access of the Site. This Agreement is void where prohibited by law, and the right to access the Site is revoked in such jurisdictions. FBPUZZ, Inc makes no claim that the Site may be lawfully viewed or that Content may be downloaded outside of Hong Kong. Access to the Content may not be legal by certain persons or in certain countries. If You access the Site from outside Hong Kong, You do so at Your own risk and You are responsible for compliance with the laws of Your jurisdiction.<br/>

	FBPUZZ, Inc will use reasonable efforts to ensure that the Site and Services are available twenty-four hours a day, seven days a week. However, there will be occasions when the Site and/or Services will be interrupted for maintenance, upgrades and repairs or due to failure of telecommunications links and equipment. Every reasonable step will be taken by FBPUZZ, Inc to minimize such disruption where it is within FBPUZZ, Inc’s reasonable control.<br/>

	You agree that neither FBPUZZ, Inc nor the Site will be liable in any event to you or any other party for any suspension, modification, discontinuance or lack of availability of the Site, the service, your Subscriber Content or other Content.<br/>

	FBPUZZ, Inc retains the right to create limits on use and storage in its sole discretion at any time with or without notice.<br/>

	Subscriber shall be responsible for obtaining and maintaining any equipment or ancillary services needed to connect to, access the Site or otherwise use the Services, including, without limitation, modems, hardware, software, and long distance or local telephone service. Subscriber shall be responsible for ensuring that such equipment or ancillary services are compatible with the Services.</p>

	<h3>Site Content</h3>
	<p>The Site and its contents are intended solely for the use of FBPUZZ, Inc Subscribers and may only be used in accordance with the terms of this Agreement. All materials displayed or performed on the Site, including, but not limited to text, graphics, logos, tools, photographs, images, illustrations, software or source code, audio and video, animations and Themes (as defined below), including without limitation the FBPUZZ, Inc Template Code (as defined below) (collectively, “Content”) (other than Content posted by Subscriber (“Subscriber Content”)) are the property of FBPUZZ, Inc and/or third parties and are protected by Hong Kong and international copyright laws. The FBPUZZ, Inc API shall be used solely pursuant to the terms of the API Terms of Service. All trademarks, service marks, and trade names are proprietary to FBPUZZ, Inc and/or third parties. Subscriber shall abide by all copyright notices, information, and restrictions contained in any Content accessed through the Services.<br/>

	The Site is protected by copyright as a collective work and/or compilation, pursuant to Hong Kong copyright laws, international conventions, and other copyright laws. Other than as expressly set forth in this Agreement, Subscriber may not copy, modify, publish, transmit, upload, participate in the transfer or sale of, reproduce (except as provided in this Section), create derivative works based on, distribute, perform, display, or in any way exploit, any of the Content, software, materials, or Services in whole or in part.<br/>

	Subscriber may download or copy the Content, and other items displayed on the Site for download, for personal use only, provided that Subscriber maintains all copyright and other notices contained in such Content. Downloading, copying, or storing any Content for other than personal, noncommercial use is expressly prohibited without prior written permission from FBPUZZ, Inc, or from the copyright holder identified in such Content's copyright notice. In the event You download software from the Site, the software, including any files, images incorporated in or generated by the software, and the data accompanying the software (collectively, the “Software”) is licensed to You by FBPUZZ, Inc or third party licensors for Your personal, noncommercial use, and no title to the Software shall be transferred to You. You may own the Subscriber Content on which the Software is recorded, but FBPUZZ, Inc or third party licensors retain full and complete title to the Software and all intellectual property rights therein.</p>

	<h3>Subscriber Content</h3>
	<p>Subscriber shall own all Subscriber Content that Subscriber contributes to the Site, but hereby grants and agrees to grant FBPUZZ, Inc a non-exclusive, worldwide, royalty-free, transferable right and license (with the right to sublicense), to use, copy, cache, publish, display, distribute, modify, create derivative works and store such Subscriber Content and to allow others to do so (“Content License”) in order to provide the Services. On termination of Subscriber’s membership to the Site and use of the Services, FBPUZZ, Inc shall make all reasonable efforts to promptly remove from the Site and cease use of the Subscriber Content; however, Subscriber recognizes and agrees that caching of or references to the Subscriber Content may not be immediately removed. Subscriber warrants, represents and agrees Subscriber has the right to grant FBPUZZ, Inc and the Site the rights set forth above. Subscriber represents, warrants and agrees that it will not contribute any Subscriber Content that (a) infringes, violates or otherwise interferes with any copyright or trademark of another party, (b) reveals any trade secret, unless Subscriber owns the trade secret or has the owner’s permission to post it, (c) infringes any intellectual property right of another or the privacy or publicity rights of another, (d) is libelous, defamatory, abusive, threatening, harassing, hateful, offensive or otherwise violates any law or right of any third party, (e) contains a virus, trojan horse, worm, time bomb or other computer programming routine or engine that is intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information, or (f) remains posted after Subscriber has been notified that such Subscriber Content violates any of sections (a) to (e) of this sentence. FBPUZZ, Inc reserves the right to remove any Subscriber Content from the Site, suspend or terminate Subscriber’s right to use the Services at any time, or pursue any other remedy or relief available to FBPUZZ, Inc and/or the Site under equity or law, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Subscriber Content or if FBPUZZ, Inc is concerned that Subscriber may have breached the immediately preceding sentence), or for no reason at all.</p>

	<h3>Restrictions</h3>
	<p>Subscriber is responsible for all of its activity in connection with the Services and accessing the Site. Any fraudulent, abusive, or otherwise illegal activity or any use of the Services or Content in violation of this Agreement may be grounds for termination of Subscriber’s right to Services or to access the Site. Subscriber may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any 9GAG, Inc user.<br/>

	Use of the Site or Services to violate the security of any computer network, crack passwords or security encryption codes, transfer or store illegal material including that are deemed threatening or obscene, or engage in any kind of illegal activity is expressly prohibited. Under no circumstances will Subscriber use the Site or the Service to (a) send unsolicited e-mails, bulk mail, spam or other materials to users of the Site or any other individual, (b) harass, threaten, stalk or abuse any person or party, including other users of the Site, (c) create a false identity or to impersonate another person, or (d) post any false, inaccurate or incomplete material or delete or revise any material that was not posted by You.</p>

	<h3>Warranty disclaimer</h3>
	<p>FBPUZZ, Inc has no special relationship with or fiduciary duty to Subscriber. Subscriber acknowledges that FBPUZZ, Inc has no control over, and no duty to take any action regarding: which users gains access to the Site; which Content Subscriber accesses via the Site; what effects the Content may have on Subscriber; how Subscriber may interpret or use the Content; or what actions Subscriber may take as a result of having been exposed to the Content. Much of the Content of the Site is provided by and is the responsibility of the user or subscriber who posted the Content. FBPUZZ, Inc does not monitor the Content of the Site and takes no responsibility for such Content. Subscriber releases FBPUZZ, Inc from all liability for Subscriber having acquired or not acquired Content through the Site. The Site may contain, or direct Subscriber to sites containing, information that some people may find offensive or inappropriate. FBPUZZ, Inc makes no representations concerning any content contained in or accessed through the Site, and FBPUZZ, Inc will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Site.<br/>

	Although FBPUZZ, Inc and the Site will make reasonable efforts to store and preserve the material residing on the Site, neither FBPUZZ, Inc nor the Site is responsible or liable in any way for the failure to store, preserve or access Subscriber Content or other materials you transmit or archive on the Site. You are strongly urged to take measures to preserve copies of any data, material, content or information you post or upload on the Site. You are solely responsible for creating back-ups of your Subscriber Content.<br/>

	The Services, Content, Site and any Software are provided on an "as is" basis, without warranties of any kind, either express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose or non-infringement. FBPUZZ, Inc makes no representations or warranties of any kind with respect to the Site, the Services, including any representation or warranty that the use of the Site or Services will (a) be timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data, (b) meet your requirements or expectations, (c) be free from errors or that defects will be corrected, (d) be free of viruses or other harmful components.<br/>

	To the fullest extent allowed by law, FBPUZZ, Inc disclaims any liability or responsibility for the accuracy, reliability, availability, completeness, legality or operability of the material or services provided on this Site. By using this Site, you acknowledge that FBPUZZ, Inc is not responsible or liable for any harm resulting from (1) use of the Site; (2) downloading information contained on the Site including but not limited to downloads of content posted by subscribers; (3) unauthorized disclosure of images, information or data that results from the upload, download or storage of content posted by subscribers; (4) the temporary or permanent inability to access or retrieve any Subscriber Content from the Site, including, without limitation, harm caused by viruses, worms, trojan horses, or any similar contamination or destructive program.<br/>

	Some places do not allow limitations on how long an implied warranty lasts, so the above limitations may not apply to Subscriber.</p>

	<h3>Third party websites</h3>
	<p>Users of the Site may gain access from the Site to third party sites on the Internet through hypertext or other computer links on the Site. Third party sites are not within the supervision or control of FBPUZZ, Inc or the Site. Unless explicitly otherwise provided, neither FBPUZZ, Inc nor the Site make any representation or warranty whatsoever about any third party site that is linked to the Site, or endorse the products or services offered on such site. FBPUZZ, Inc and the Site disclaim: (a) all responsibility and liability for content on third party websites and (b) any representations or warranties as to the security of any information (including, without limitation, credit card and other personal information) You might be requested to give any third party, and You hereby irrevocably waive any claim against the Site or FBPUZZ, Inc with respect to such sites and third party content.</p>

	<h3>Registration and security</h3>
	<p>As a condition to using Services, Subscriber will be required to register with FBPUZZ, Inc and select a password and FBPUZZ, Inc URL. Subscriber shall provide FBPUZZ, Inc with accurate, complete, and updated registration information, including Subscriber’s e-mail address. Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of Subscriber's account. Subscriber may not (a) select or use as a FBPUZZ, Inc URL a name of another person with the intent to impersonate that person; or (b) use as a FBPUZZ, Inc URL a name subject to any rights of a person other than Subscriber without appropriate authorization. FBPUZZ, Inc reserves the right to refuse registration of, or cancel a FBPUZZ, Inc URL in its discretion. Subscriber shall be responsible for maintaining the confidentiality of Subscriber's FBPUZZ, Inc password. Subscriber is solely responsible for any use of or action taken under Subscriber’s password and accepts full responsibility for all activity conducted through Subscriber’s account and agrees to and hereby releases the Site and FBPUZZ, Inc from any and all liability concerning such activity. Subscriber agrees to notify FBPUZZ, Inc immediately of any actual or suspected loss, theft, or unauthorized use of Subscriber’s account or password. The Site will take reasonably security precautions when using the internet, telephone or other means to transport date or other communications, but expressly disclaims any and all liability for the accessing of any such data communications by unauthorized persons or entities.</p>

	<h3>Indemnity</h3>
	<p>Subscriber will indemnify and hold FBPUZZ, Inc, its directors, officers and employees, harmless, including costs and attorneys' fees, from any claim or demand made by any third party due to or arising out of Subscriber’s access to the Site, use of the Services, the violation of this Agreement by Subscriber, or the infringement by Subscriber, or any third party using the Subscriber's account, of any intellectual property or other right of any person or entity.</p>

	<h3>Privacy</h3>
	<p>Please review our <a ui-sref="privacy">Privacy Policy</a>, which governs the use of personal information on the Site and to which Subscriber agrees to be bound as a user of the Site.</p>

	<p>For the avoidance of doubt, only notices submitted under the Digital Millennium Copyright Act and the procedures set forth in this Agreement should be sent to the Designated Agent at <b>copyright@fbpuzz.com</b> or to the postal address identified above. Any other comments, compliments, complaints or suggestions about FBPUZZ, the operation of the Services or any other matter should be sent to <b>support@fbpuzz.com</b>.</p>
</div>