<div ng-show="show_video_box">
<div class="row">
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-12">
				<div class="videogular-container">
					<videogular vg-theme="config.theme">
					<vg-media vg-src="config.sources"></vg-media>

					<vg-controls vg-autohide="config.plugins.controls.autoHide" vg-autohide-time="config.plugins.controls.autoHideTime">
					<vg-play-pause-button></vg-play-pause-button>
					<vg-time-display>{{ currentTime  | date:'mm:ss':'+0000'}}</vg-time-display>
					<vg-scrub-bar>
						<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
					</vg-scrub-bar>
					<vg-time-display>{{ timeLeft  | date:'mm:ss':'+0000'}}</vg-time-display>
					<vg-volume>
						<vg-mute-button></vg-mute-button>
						<vg-volume-bar></vg-volume-bar>
					</vg-volume>
					<vg-playback-button></vg-playback-button>
					<vg-fullscreen-button></vg-fullscreen-button>
					<div class='my-button iconButton'><a href='{{video_link}}' download target='_blank'><i class="fa fa-download"></i></a></div>
					</vg-controls>

					<!-- <vg-analytics vg-track-info='config.plugins.analytics'></vg-analytics> -->
					<vg-overlay-play></vg-overlay-play>
					<vg-buffering></vg-buffering>
					<vg-poster vg-url='config.plugins.poster'></vg-poster>
					</videogular>
				</div>
			</div>
		</div>		
	</div>
	<div class="col-md-5">
		<div class="row video-box-right puzz-box">
			<div class="col-md-12">
				<h4>{{(vid.title ? vid.title : (vid.description ? vid.description : (vid.page_name ))) | cut:true:40:' ...'}}</h4>
				<hr>
				<span><img ng-src="{{page_info.picture}}" style="width: 30px; padding: 5px"><a ui-sref="all_vid_of_page({page_id:page_info.name_id})">{{page_info.name}}</a></span>
				<p>{{(vid.title ? vid.title : (vid.description ? vid.description : (vid.page_name )))}}</p>
				<hr>
				<div class="d_icon">
					<a ng-href="{{video_link}}" download target="_blank"><i class="fa fa-download"></i>Download</a>
					<i class="fa fa-share" ng-click="share_button = ! share_button" ng-init="share_button = 0"> Share</i>
				</div>
			</div>
		</div>
		<div class="row share_text puzz-box" ng-show="share_button">
			<div class="col-md-12">
			<a href="https://www.facebook.com/dialog/feed?app_id=1643387909294081&link=https://www.fbpuzz.com/v/{{page_name}}/{{post_id}}&picture=https://api.fbpuzz.com/api/images/{{page_name}}/{{post_id}}.jpg&title={{vid_title}}&caption={{page_info.name}} Video&description={{description}}" target="_blank"><i class="fa fa-facebook-official" style="color: #3b5998"></i></a>
			<a href="https://twitter.com/share?url=https://www.fbpuzz.com/v/{{page_name}}/{{post_id}}&via=fbpuzz.com&text=video" target="_blank"><i class="fa fa-twitter-square" style="color: #0084b4"></i></a>
			<!-- <a href="#"><i class="fa fa-google-plus-square" style="color: #d34836"></i></a>
			<a href="#"><i class="fa fa-reddit-square" style="color: #9dd8ab"></i></a>
			<a href="#"><i class="fa fa-linkedin-square" style="color: #0077B5"></i></a>
			<a href="#"><i class="fa fa-pinterest-square" style="color: #bd081c"></i></a>
			<a href="#"><i class="fa fa-whatsapp" style="color: #25d366"></i></a> -->
			</div>
		</div>
	</div>
</div>
<br>
<h4>More Videos</h4>
<hr>
<div class="row" infinite-scroll='loadMore(vid.content_category)' infinite-scroll-disabled="disable_scroll" infinite-scroll-distance='2' infinite-scroll-use-document-bottom="true">
<div class="col-xs-18 col-sm-6 col-md-3" ng-repeat="d in related_data | unique:'id'"  ng-if="d.id != post_id">
    <div class="thumbnail">
        <div class="post_box" ui-sref="video_page({page_id:d.page_id,post_id:d.id})">
            <img data-src="{{d.format[1].picture ? d.format[1].picture : ( d.format[0].picture ? d.format[0].picture : ( d.format[0].picture ? d.format[0].picture : d.picture))}}" class="lazyload" alt="{{(d.title ? d.title : (d.description ? d.description : (d.page_name )))}}" on-error-src="/img/not_load.gif">
            <i class="fa fa-play image-overlay" ui-sref="video_page({page_id:d.page_id,post_id:d.id})" style="font-size: 50px;" aria-label="Select"></i>
            <span class="video_length" ng-bind="return_length(d.length)"></span>
        </div>
        <hr/>
        <div class="caption">
        <h4 class="box_title"><a ui-sref="video_page({page_id:d.page_id,post_id:d.id,page_name:d.page_name})" title="{{(d.title ? d.title : (d.description ? d.description : (d.page_name )))}}">{{(d.title ? d.title : (d.description ? d.description : (d.page_name ))) | cut:true:40:' ...'}}</a></h4>
        <span class="updated_time" ng-bind="return_time(d.updated_time)"></span>
        </div>
        <hr/>
        <a ui-sref="all_vid_of_page({page_id:d.page_id})" style="color: #fff">
            <div class="from">
                <img ng-src="{{d.page_profile_image}}" style="width: 30px; padding: 5px">
                <span class="page_name" title="{{d.page_name}}">{{d.page_name | cut:true:20}} </span>
            </div>
        </a>
    </div>
</div>
</div><!-- End row -->
</div>
<div id="loading-bar-container"></div>
<div ng-show="show_more_load"><div class="load_more_text"><a ng-click="loadMore(vid.content_category)">Load More</a></div></div>
