.post_box{
    position: relative;
    height: 250px;
    background-image: -webkit-linear-gradient( 135deg, rgb(23,49,72) 0%,rgb(10,11,31) 75% );
    background-image: linear-gradient( 135deg, rgb(23,49,72) 0%,rgb(10,11,31) 75% );
}
.box_title{
    font-size: 16px;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    color: #686464;
    letter-spacing: 0.5px;
}
.box_title a{
    color: #686464;
    text-decoration: none;
}
.updated_time{
    font-size: 11px
}
.page_name{
    font-size: 12px
}
.thumbnail{
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
}
.video_length{
    color:#686464;
    font-size: 12px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 0px 7px;
}
.from{
    color: #686464;
    height: 30px;
}
.mid-container .col-md-3{
    padding: 0px
}
.thumbnail{
    margin: 10px
}