.videogular-container {
    height: 400px;
    margin: auto;
    overflow: hidden;
}
/* Custom button */
videogular my-stop-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

videogular my-stop-button a,
videogular my-stop-button a:hover,
videogular my-stop-button a:visited {
    color: white;
    text-decoration: none;
}

videogular div.my-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

videogular div.my-button a,
videogular div.my-button a:hover,
videogular div.my-button a:visited {
    color: white;
    text-decoration: none;
}
.d_icon i{
    font-size: 18px;
    color: #686464;
    margin: 5px 5px 5px 0px;
    padding: 3px;
    cursor: pointer;
}
.share_text{
    margin-top: 10px;
    font-size: 26px;
}
.share_text span{
    border: 2px solid #686464;
    padding: 2px 5px;
    margin-right: 10px;
}