 .box_title, .updated_time,  .page_name, .video_length, .sidebar-nav li a, #sidebar-wrapper h4, .list-group a, .video-box-right, h1, h3, h4, p, .footer_text ul li, .load_more_text span, .load_more_text a, .helloemail{    
	font-family: 'Cabin', sans-serif;
}
body{
	background-color: #f6f6f6;
	padding-top: 55px;
}
a, button{
	outline: none;
	border: 0; 
}
a:hover, a:active, a:focus {
	outline: none;
	border: 0; 
}
.thumbnail{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.brand-logo{
	padding: 10px;
	cursor: pointer;
}
.brand-logo i{
	font-size: 20px;
	padding-right: 10px
}
.navbar-top-logo{
	background-color: #fff
}
.panel-footer{
	padding: 0px;
	margin-top: 30px
}
.footer_text ul li{
	float: left;
	list-style-type: none;
	margin: 10px;
	font-size: 14px
}
.footer_text ul li a{
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
hr{
	margin: 0px;
}
.load_more_text{
	text-align: center;
	margin-top: 20px
}
.load_more_text span{
	margin-top: 30px;
	text-align: center;
	padding: 3px 10px;
	color: #686464
}
.load_more_text a{
	border:2px solid #686464;
	padding: 3px 10px;
	color: #686464;
	cursor: pointer;
	text-decoration: none;
}
.puzz-box{	
    margin: 0px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.browse_channels{
	list-style-type: none;
	margin-left: -25px;
}
.browse_channels a{
	color: #000;
	text-decoration: none;
}
.browse_channels li{
	padding: 3px;
	cursor: pointer;
}
.browse_channels li:hover{
    background-color: rgba(158, 158, 158, 0.34);
}
.image-overlay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #9E9E9E;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.image-overlay:hover{
    color: rgba(102, 51, 153, 0.66)
}
.post_box img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.helloemaili{
	font-size: 16px
}
.facebook-login, .facebook-login:hover{
	background-color: #3B5998;
    color: #fff;
    border-radius: 0px;
}
.model-facebook-login, .model-facebook-login:hover{
	background-color: #3B5998;
    color: #fff;
	border-radius: 3px;
    padding: 6px 20px;
    font-size: 20px;
}
.close_button{
    font-size: 39px;
    background-color: #fff;
}